In [11]:
import pandas as pd 
import numpy as np

In [12]:
schools_file = "raw_data/schools_complete.csv"
students_file = "raw_data/students_complete.csv"

In [13]:
schools_data = pd.read_csv(schools_file, encoding='iso-8859-1')
students_data = pd.read_csv(students_file, encoding='iso-8859-1')

In [14]:
students_data.head()

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [15]:
students_data.columns

Index(['Student ID', 'name', 'gender', 'grade', 'school', 'reading_score',
       'math_score'],
      dtype='object')

In [16]:
schools_data.columns

Index(['School ID', 'name', 'type', 'size', 'budget'], dtype='object')

In [17]:
students_data.rename(columns={'name':'student_name'}, inplace=True)
students_data.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school',
       'reading_score', 'math_score'],
      dtype='object')

In [18]:
schools_data.rename(columns={'name':'school_name'}, inplace=True)
schools_data.columns

Index(['School ID', 'school_name', 'type', 'size', 'budget'], dtype='object')

In [19]:
schools_count = schools_data["school_name"].count()
schools_count

15

In [20]:
students_count = students_data["student_name"].count()
students_count

39170

In [21]:
total_budget = schools_data["budget"].sum()
total_budget

24649428

In [22]:
avg_readingscore = students_data['reading_score'].mean()
avg_readingscore

81.87784018381414

In [23]:
avg_mathscore = students_data['math_score'].mean()
avg_mathscore

78.98537145774827

In [24]:
passing_math = (students_data.loc[students_data["math_score"]>70])
overall_passing_math = passing_math['math_score'].count()
overall_passing_math = overall_passing_math / students_count * 100
overall_passing_math

72.392136839417915

In [25]:
passing_reading = (students_data.loc[students_data["reading_score"]>70])
overall_passing_reading = passing_reading['reading_score'].count()
overall_passing_reading = overall_passing_reading / students_count * 100
overall_passing_reading

82.971661986213945

In [26]:
overall_passing_grade = (overall_passing_math + overall_passing_reading) / 2
overall_passing_grade

77.681899412815937

In [27]:
dh = schools_data.set_index("school_name") 
dh.head()

                       School ID      type  size   budget
school_name
Huang High School              0  District  2917  1910635
Figueroa High School           1  District  2949  1884411
Shelton High School            2   Charter  1761  1056600
Hernandez High School          3  District  4635  3022020
Griffin High School            4   Charter  1468   917500

In [35]:
school_summary_avg_math = students_data.groupby(["school"]).mean()["math_score"]
school_summary_avg_math

school
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [36]:
school_summary_avg_reading = students_data.groupby(["school"]).mean()["reading_score"]
school_summary_avg_reading

school
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [ ]:
school_summary_passing_math = students_data.groupby(["school"]).count()["student_name"]